.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav li{
    list-style-type: none;
}